<h2>
    Articles / Recherches
</h2>
<img alt="Séparateur"
    loading="lazy" src="/assets/line.svg" height="16"/>
<section class="articles">
    <a href="#" data-date="18 Nov.">
        <h3>
            Titre de l'article
        </h3>
        <p>
            
            Description très brève
        </p>
    </a>
    <a href="#" data-date="18 Nov.">
        <h3>
            Titre de l'article
        </h3>
        <p>
            
            Description très brève
        </p>
    </a>
    <a href="#" data-date="18 Nov.">
        <h3>
            Titre de l'article
        </h3>
        <p>
            
            Description très brève
        </p>
    </a>
    <a href="#" data-date="18 Nov.">
        <h3>
            Titre de l'article
        </h3>
        <p>
            
            Description très brève
        </p>
    </a>
</section>