body {
    & > h1,
    & > h2 {
        font-family: "BluuNext";
    }
    & > h2,
    & > p,
    & > .competences,
    & > .articles {
        margin-top: 24px;
    }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
nav > a{
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 4px;
    transition: background .3s ease;
    &:hover{
        background-color: hsl(from var(--brown) h s l / 0.1);
    }
}
nav > a > img{
    width: 20px;
    height: 20px;
}

.competences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    & > img {
        width: fit-content;
        height: 96px;
    }
}
.articles {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.articles a {
    position: relative;
    padding: 8px 12px;
    color: var(--brown);
    text-decoration: unset;
    transition: background 0.3s ease-out;
    &:hover {
        background-color: hsl(from var(--brown) h s l / 0.2);
    }
    &[href=""]:hover{
        cursor: default;
        background-color: hsl(from var(--brown) h s l / 0.1);        
    }
}
.articles a[data-date]::before {
    content: attr(data-date);
    position: absolute;
    top: 12px;
    right: 100%;
    width: 100px;
    text-align: right;

    font-weight: 700;
    font-size: 0.75rem;
    color: transparent;
    transition:
        color 0.3s ease-in,
        right 0.3s ease;
}
.articles a[data-date]:hover::before {
    right: calc(100% + 12px);
    color: var(--brown);
}

@media (width > 600px) {
    body {
        padding: 64px 30vw;
    }
}
