.method {
    font-size: .7rem;
    font-weight: 700;
    padding: 2px 4px;
    border-radius: 4px;
    user-select: none;
    &.get {
        background-color: var(--green);
    }
    &.post {
        background-color: var(--pink);
    }
}

.api {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    gap: 8px;
    & > h2{
        width: 100%;
        height: fit-content;
        grid-column: 3 span;
    }
}

@media (width < 1000px) {
    .api {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

fieldset {
    outline: unset;
    border: unset;
    background: unset;
    width: 100%;
    position: relative;

    & > h3 {
        padding: 12px;
        
        border: 2px solid #FFF4;
        color: #FFF8;
        font-weight: 500;
    }
    & > * + h3 {
        border-top-width: 0;
    }
    & > h3:has(+ *) {
        border-bottom-width: 0;
    }
}

.endpoint {
    border: 2px solid #FFF4;

    & > .head {
        padding: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        border: unset;
        outline: unset;
        background: unset;
        color: #fff;
        width: 100%;

        cursor: pointer;
        transition: background .5s ease;
    }
    & > .head:hover {
        background-color: #FFF2;
    }
    & input{
        display: none;
    }
    & > .head > code {
        font-weight: 600;
    }
    &:has(input:checked):has(.get) > .head{
        background-color: hsl(from var(--green) h s l / 0.2);
    }
    &:has(input:checked):has(.post) > .head{
        background-color: hsl(from var(--pink) h s l / 0.2);
    }
    &:has(+.endpoint) {
        border-bottom-width: 0;
    }
}

[data-endpoint] {
    display: none;
}

.api:has(#endpoint-orbit-launch:checked) > [data-endpoint="orbit-launch"],
.api:has(#endpoint-orbit-update:checked) > [data-endpoint="orbit-update"],
.api:has(#endpoint-orbit-signal:checked) > [data-endpoint="orbit-signal"],
.api:has(#endpoint-ws:checked) > [data-endpoint="ws"],
.api:has(#endpoint-listen:checked) > [data-endpoint="listen"] {
    width: 100%;
    display: block;

    border: 2px solid #FFF4;

    & .heading,
    & .body {
        padding: 16px;
    }

    & .heading h3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    & .heading code {
        font-size: 1.5rem;
    } 
    & .heading p {
        margin-top: 4px;
        font-size: .9rem;
        color: #FFF8;
    }
    & hr{
        border-color: #FFF4;
        border-width: 1px;
        border-style: solid;
    }
}

[data-endpoint] .body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > label > .meta{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }

    & > label > p{
        margin: 4px 0;
        color: #fff8;
    }

    & > label > input,
    & button{
        display: block;

        font-size: 1.2rem;
        width: 100%;

        padding: 8px 12px;
        outline: unset;
        border: unset;
        background-color: #fff2;
        color: #fff;
        
    }
    & button{
        text-align: left;
        transition: background .3s ease;
        cursor: pointer;

        background-color: hsl(from var(--pink) h s l / 0.2);
        &:hover {
            background-color: hsl(from var(--pink) h s l / 0.5);
        }
    }
    & > pre{
        text-align: left;
    }
}

[data-endpoint] .body .meta {
    & .type {
        margin-left: 4px;
        padding: 2px 4px;
        font-size: .8rem;
        background-color: #fff2;
        border-radius: 4px;
    }
    & sup.required {
        color: rgb(255, 34, 34);
        font-weight: 900;
    }
}

[data-endpoint] .listen {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    & button:not(.stop) {
        background-color: hsl(from var(--green) h s l / 0.2);
        &:hover {
            background-color: hsl(from var(--green) h s l / 0.5);
        }
        &.active {
            background-color: hsl(from var(--green) h s l / 0.1);
        }
    }
    & button.stop {
        &.active {
            background-color: hsl(from var(--pink) h s l / 0.1);
        }
    }
}