@import "tailwindcss";

@font-face {
    font-family: "Satoshi";
    src: url(/assets/fonts/Satoshi.ttf);
}
@font-face {
    font-family: "General";
    src: url(/assets/fonts/GeneralSans.ttf);
}

@theme {
    --font-satoshi: "Satoshi";
    --font-general: "General";
    --default-font-family: "Satoshi";
    --color-accent: #43CB94;
}

@custom-variant group-has-checked {
    &:is(:where(.group):has(:checked) *) {
        @slot;
    }
}


html{
    &::selection {
        background-color: var(--color-accent);
        color: #FFF;
    }
    &:has([inverted="true"])::selection {
        background-color: #FFF;
        color: var(--color-accent);
    }
}

nav:has([inverted="true"]) > a {
    background: #FFF4;
    &:hover{
        background: #FFF8;
    }
    &[inverted="true"] {
        background: #0008;
    }
}

a {
    text-decoration: none;
    @apply text-accent font-medium
}

a.anim {
    position: relative;
    transition: color .3s ease;
    padding: 2px 4px;
    margin: -1px -2px;
    white-space: nowrap;
    &::after{
        z-index: -1;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 4px;
        width: 100%;
        height: 0;
        background-color: var(--color-accent);
        transition: height .3s ease;
    }
    &:hover::after{
        height: 100%;
    }
    &:hover {
        z-index: 10;
        color: #FFF;
    }
}