@import "tailwindcss";

@font-face {
    font-family: "Satoshi";
    src: url(/assets/fonts/Satoshi.ttf);
}
@font-face {
    font-family: "Outfit";
    src: url(/assets/fonts/Outfit.ttf);
}

@theme {
    --font-satoshi: "Satoshi";
    --font-outfit: "Outfit";
    --default-font-family: "Satoshi";
    --color-accent: #43CB94;
}

@custom-variant group-has-checked {
    &:is(:where(.group):has(:checked) *) {
        @slot;
    }
}

a {
    text-decoration: none;
    @apply text-accent font-medium
}

a.anim {
    position: relative;
    transition: color .3s ease;
    padding: 2px 4px;
    margin: -1px -2px;
    white-space: nowrap;
    &::after{
        z-index: -1;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 4px;
        width: 100%;
        height: 0;
        background-color: var(--color-accent);
        transition: height .3s ease;
    }
    &:hover::after{
        height: 100%;
    }
    &:hover {
        z-index: 10;
        color: #FFF;
    }
}

::selection{
    background-color: var(--color-accent);
    color: #FFF;
}