---
import Page from '../../layouts/page.astro';

import { getCollection } from 'astro:content';
import Card from '../../components/Card.astro';
const posts = (await getCollection('blog'))
    .filter(a => a.data.date.getTime() < Date.now() && a.data.private === undefined)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<Page nav={[
    {
        href: "/",
        label: "Homepage"
    }
]}>
    <section class="w-full h-auto p-5 gap-5 relative z-20
        flex flex-col lg:grid lg:grid-cols-2 2xl:grid-cols-3 text-white">
        {
            posts.map(post => <Card
                title={ post.data.title }
                description={ post.data.description }
                date={post.data.date}
                href={ '/blog/' + post.id }
                image={ post.data.image as ImageMetadata | 'placeholder' }/>)
        }
    </section>
</Page>