<h2>
    Articles / Recherches
</h2>
<img alt="Séparateur"
    loading="lazy" src="/assets/home/img/line.svg" height="16"/>
<section class="articles">
    <a href="/projets/neon-dawn" data-date="Feb. 2026">
        <h3>
            Don't just code it - Watch it fly around Earth 
            <span title="Progression écriture des pages" class="green">◔</span>
        </h3>
        <p>
            Un hackaton très visuel où les participants doivent<br/>
            mettre en orbite un satellite.
        </p>
    </a>
</section>