<h2>
    Mes projets
</h2>
<img alt="Séparateur"
    loading="lazy" src="/assets/line.svg" height="16"/>
<!-- ○◔◑◕● -->
<section class="articles">
    <a href="" data-date="Jan. 2026">
        <h3>
            Sens <span class="green">○</span>
        </h3>
        <p>
            Une plateforme de gestion d'engagements pour une école d'ingénieur.<br/>
            Mesurer l'engagement responsable des étudiants sous forme d'objectifs à accomplir.
        </p>
    </a>
    <a href="" data-date="Dec. 2025">
        <h3>
            Link IE <span title="Progression écriture des pages" class="green">○</span>
        </h3>
        <p>
            Une plateforme de gestion de redirections de l'association IsenEngineering,<br/>
            Gérer toutes les redirections en temps réel.
        </p>
    </a>
    <a href="" data-date="Nov. 2025">
        <h3>
            Kernel-Panic <span title="Progression écriture des pages" class="green">○</span>
        </h3>
        <p>
            Un hackaton dans lequel les participants sont limités à l'utilisation d'un conteneur.<br/>
            Ils sont mis en concurrence par l'affichage d'un classement en temps réel.
        </p>
    </a>
    <a href="" data-date="Sep. 2025">
        <h3>
            La Bourse Folle <span title="Progression écriture des pages" class="green">○</span>
        </h3>
        <p>
            Une plateforme qui fait fluctuer le prix des boissons en fonction<br/>
            des consommations à l'occasion de soirées de l'association IsenEngineering.
        </p>
    </a>
    <a href="" data-date="Aug. 2025">
        <h3>
            Neon-Dawn <span title="Progression écriture des pages" class="green">○</span>
        </h3>
        <p>
            Un hackaton dans lequel les participants doivent mettre en orbite un satellite.
        </p>
    </a>
    <a href="" data-date="Feb. 2025">
        <h3>
            Explorer <span title="Progression écriture des pages" class="green">○</span>
        </h3>
        <p>
            Une légère interface pour accéder à mes fichiers depuis internet<br/> sans passer par un réseau privée (type Wireguard)
        </p>
    </a>
    <a href="" data-date="May. 2025">
        <h3>
            All Game Long - Bet <span title="Progression écriture des pages" class="green">○</span>
        </h3>
        <p>
            Une plateforme qui permet de parier des sommes fictives<br/>
            à l'occasion d'un évènement sur une soirée compétitive.
        </p>
    </a>
    <a href="" data-date="Sep. 2024">
        <h3>
            Tidee <span title="Progression écriture des pages" class="green">○</span>
        </h3>
        <p>
            Une plateforme de gestion des présences et des membres de l'association IsenEngineering.<br/>
            Elle permet de mesurer l'engagement responsable en heures.
        </p>
    </a>
    <a href="" data-date="May. 2023">
        <h3>
            Island Generation <span title="Progression écriture des pages" class="green">○</span>
        </h3>
        <p>
            Génération procédurale d'îles paradisiaques.
        </p>
    </a>
</section>