@import "tailwindcss";

@font-face {
    font-family: "jetbrains";
    src: url(/fonts/jetbrains.ttf);
}

@theme {
    --default-font-family: "jetbrains";
    --font-jetbrains: "jetbrains";
    --color-dark-pink: #5E3A4F;
}
html,body{
    height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    html{
        scroll-behavior: smooth;
    }
}