#hero{
    position: relative;
}

#hero::after, #hero::before{
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
}
#hero::after{
    opacity: 0.5;
    background: linear-gradient(-10deg, #ffffff00 30%, #5B0753 110%);
}
#hero::before{
    opacity: 0.75;
    background: linear-gradient(8deg, #ffffff00 30%, #5B0708 120%);
}

#hero h1{
    overflow: hidden;
    width: fit-content;
}
#hero h1 span{
    display: block;
    animation: slide-right 1s ease;
}

#hero ::selection{
    background-color: #fff4;
    mix-blend-mode: overlay;
}

::selection{
    background-color: #5B075360;
}

@keyframes slide-right {
    from { 
        opacity: 0;
        transform: translateX(-100%); }
    to { 
        opacity: 1;
        transform: translateX(0); }
}

@keyframes slide-in {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1;
        margin-bottom: 0;
    }
}

#content > div > span > div{
    display: none;
    pointer-events: none;
}
#content > div > span::after{
    inset: -16px;
    content: '';
    position: absolute;
    transition: inset .4s ease;
}

#content > div:has(span) {
    transition: padding .4s ease;
}
@media (width > 600px) {
    #content > div:has(span:hover) {
        padding: 64px 0;
    }
    
    #content > div > span:hover::after{
        inset: -80px -16px;
    }
    
    #content div > span:hover > div{
        display: inline-block;
        pointer-events: none;
        animation: slide-in 1s ease;
    }
}