---
import High from "../../assets/main/high.svg"
import Low from "../../assets/main/low.svg"
---

<div class="w-dvw h-auto relative mt-12 lg:mt-20 xl:mt-48 isolate z-20 pointer-events-none">
    <div class="w-3/5 h-24 lg:h-40 xl:h-80 absolute bottom-16 lg:bottom-8 xl:bottom-8 left-1/6 bg-radial to-70% from-white/50 to-white/0 z-40"/>
    <Low class="w-full absolute bottom-0 left-0 fill-[#4A293C] z-30"/>
    <div class="w-4/5 h-24 lg:h-40 xl:h-80 absolute bottom-20 lg:bottom-8 xl:bottom-16 left-0 bg-radial to-70% from-white to-white/0 z-20"/>
    <High class="w-full absolute bottom-0 left-0 fill-dark-pink z-10"/>
</div>