@font-face {
    font-family: "BluuNext";
    src: url(/assets/BluuNext.otf);
}
:root{
    --green: rgba(5, 255, 117, 0.822);
    --pink: rgba(255, 0, 155, 0.822);
}

* {
    font-family: 'Inter', sans-serif, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

h2 {
    font-family: "BluuNext";
}

header {
    position: relative;
    width: 100dvw;
    height: 110dvh;
    &::after {
        position: absolute;
        z-index: 5;
        content: "";
        height: 10dvh;
        top: 100dvh;
        left: 0;
        width: 100%;
        background: linear-gradient(0deg, #000, #0000);
    }
    & > svg,
    & > svg > rect {
        width: 100%;
        height: 100%;
    }
    & > div {
        position: absolute;
        bottom: calc(10dvh + 64px);
        left: 64px;
        & > h2 {
            font-size: 6rem;
            font-weight: 900;
        }
        & > p {
            font-size: 2rem;
            font-weight: 400;
            color: #fffa;
            text-transform: uppercase;
        }
    }
    & > #satellite{
        position: absolute;
        z-index: 10;
        bottom: 10dvh;
        left: 0;
        right: 0;
        width: 100dvw;
        height: 100dvh;
        pointer-events: none;
    }
    & > a{
        position: absolute;
        top: 64px;
        left: 64px;

        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;

        padding: 6px 8px;
        background-color: #fff4;
        border-radius: 4px;
        color: #fff;
        text-decoration: unset;
        transition: background .3s ease;
        backdrop-filter: blur(2px);
        &:hover{
            background-color: #fff6;
        }
    }
}

#earth {
    position: absolute;
    width: 25dvw;
    height: 25dvw;
    top: calc(50dvh - 12.5dvw);
    left: 37.5dvw;
}

main, section {
    min-height: 90dvh;
    padding: 64px 25vw;
    position: relative;
}

@media (width < 800px) {
    header > div {
        bottom: calc(10dvh + 32px);
        left: 32px;
        & > h2 {
            font-size: 3rem;
        }
        & > p {
            font-size: 1.5rem;
        }
    }

    #earth {
        position: absolute;
        width: 90dvw;
        height: 90dvw;
        top: calc(50dvh - 45dvw);
        left: 5dvw;
    }

    header > a {
        top: 32px;
        left: 32px;
    }

    main, section {
        padding: 32px;
    }
}