---
import Html from '../layouts/html.astro';
import "../styles/main.css"

import Hero from '../components/main/Hero.astro';
import Me from "../components/main/Me.astro"
import FallingStars from '../components/FallingStars.astro';

import Articles from "../components/main/Articles.astro"
import Montains from '../components/main/Montains.astro';
---

<Html>
    <main id="hero" class="min-h-[80dvh] w-full 
        xl:px-64 xl:py-36 lg:px-56 lg:py-28 md:px-36 md:py-24
        sm:px-24 sm:py-16 px-12 py-12 overflow-hidden">
        <Hero/>
        <Me/>
        <FallingStars/>
    </main>
    <Articles/>
    <Montains/>
</Html>