.box{
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: url(/assets/button.svg) 10 10 10 10 stretch stretch;
}

article{
    cursor: pointer;
}
article h3{
    position: relative;
}
article:not(:has(h3)) {
    position: relative;
}

article h3::after,
article:not(:has(h3))::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 4px;
    width: 0;
    border-radius: 8px;

    background-color: black;
    transition: width .3s ease;
}

article:hover h3::after,
article:hover:not(:has(h3))::after{
    width: 70%;
}
