---
import { Image } from 'astro:assets';

interface Props {
    title: string,
    description: string,
    href: string,
    date?: Date
    image: ImageMetadata | 'placeholder',
    class?: string
}

const { title, description, date, href, ...props } = Astro.props;
---

<a class:list={["w-full h-full relative px-8 py-6 group aspect-video", props.class]} href={href}>
    <h2 class="text-xl font-semibold">
        { title }
    </h2>
    <p class="mt-2 opacity-50 text-sm mix-blend-hard-light">
        {
            date ? date.toLocaleDateString('fr-FR', { dateStyle: 'short' }) + ' - ' : ''
        }
        
        { description }
    </p>
    {
        props.image !== 'placeholder' && props.image !== undefined
        ? <Image 
            loading="lazy"
            format="webp"
            class={`absolute top-0 left-0 w-full h-full 
                object-cover aspect-video -z-10 group-hover:opacity-75 
                transition-opacity duration-500`}
            src={props.image} alt={title}/>
        : <img src="/placeholder.png" alt={title}
            class={`absolute top-0 left-0 w-full h-full 
                object-cover aspect-video -z-10 group-hover:opacity-75 
                transition-opacity duration-500`}/>
    }
    
</a>