<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livio Ardoin</title>
    <link rel="stylesheet" href="/assets/global.css">
    <link rel="shortcut icon" href="/assets/fav.svg" type="image/svg+xml">
</head>
<body *mizu class="md:mx-[5dvw] lg:mx-[10dvw] xl:mx-[25dvw]">
    <header class="flex flex-wrap items-center justify-between px-4 md:px-0 py-8 text-sm">
        <p *mustache>Dernière mise à jour : {{date}}</p>
        <p class="text-black/50" *text="commit"></p>
    </header>
    <main class="font-virgil">
        <figure class="flex flex-col-reverse items-start p-4 sm:p-0 sm:flex-row sm:items-center sm:justify-around sm:gap-8">
            <h1 class="text-5xl lg:text-6xl">Livio Ardoin</h1>
            <div *html="heading" class="px-4 sm:px-0 *:w-full *:h-full md:h-24 lg:h-32"></div>
        </figure>
    </main>
</body>
</html>