<div class="endpoint">
    <input type="radio" id="head-listen" name="endpoint">
    <label class="head" for="head-listen">
        <span class="get method">GET</span>
        <code>/listen</code>
    </label>
    <div class="body">
        <div class="heading">
            <h3>
                <span class="get method">GET</span>
                <code>/listen</code>
            </h3>
            <p>
                Écouter les évènements.
            </p>
        </div>
        <hr />
        <div class="params">
            <div class="listen">
                <button id="listening-start">
                    Écouter
                </button>
                <button class="stop active" id="listening-stop">
                    Arrêter
                </button>
            </div>
            <pre id="listening-output"></pre>
        </div>
    </div>
    <script>
        const output = document.getElementById('listening-output')
        const start = document.getElementById('listening-start')
        const stop = document.getElementById('listening-stop')

        let sse = null
        start.addEventListener('click', () => {
            if(sse) return
            start.classList.toggle('active')
            sse = new EventSource('http://192.168.1.68:5000/ws')
            sse.addEventListener('message', event => {
                output.innerText += '\n' + event.data
            })
        })

        stop.addEventListener('click', () => {
            if(!sse) return
            stop.classList.toggle('active')

            sse.close()
            sse = null
        })
    </script>
</div>