---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

interface Props { 
    class?: string,
    style?: string
}
const props = Astro.props
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class:list={["w-dvw overflow-x-hidden", props.class]} style={ props.style }>
        <slot />
	</body>
</html>
