---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

interface Props { 
    class?: string,
    style?: string,
    title?: string,
    description?: string,
    image?: ImageMetadata
}
const { title, description, image, ...props } = Astro.props
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={title || SITE_TITLE} description={description || SITE_DESCRIPTION} image={image} />
	</head>
	<body class:list={["w-dvw overflow-x-hidden", props.class]} style={ props.style }>
        <slot />
	</body>
</html>
